<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<dom-module id="edit-map">
  <template>
    <style>
:host {
  @apply(--paper-font-body1);
  padding: 0;
  margin: 0;
}
#floor {
  overflow-y: auto;
}
#floor img {
  width: 100%;
}
    #map {
      position: relative;
    }
    .marker {
      position: absolute;
      height: 10px;
      width: 10px;
      margin: -5px;
      border-radius: 10000px;
      background-color: red;
    }
    .room {
      padding: 10px;
    }
    paper-item label {
      opacity: 0.5;
      font: monospace;
      position: absolute;
      right: 16px;
      height: 48px;
      line-height: 48px;
    }
    </style>
    <paper-drawer-panel>
      <paper-header-panel drawer>
        <paper-toolbar>
          <div>Campus Edit</div>
        </paper-toolbar>
        <div>
          <paper-menu on-iron-select="select" selected="{{selectedIndex}}">
            <template is="dom-repeat" items="{{buildings}}">
              <paper-item>
                <span>[[item.sis]]</span>
                <label>[[len(item.floors)]]</label>
              </paper-item>
            </template>
          </paper-menu>
        </div>
      </paper-header-panel>
      <paper-header-panel main>
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div>{{selected.name}}</div>
        </paper-toolbar>
        <div>
          <paper-drawer-panel>
            <div drawer>
              <paper-icon-button icon="add" on-tap="newFloor"></paper-icon-button>
              <paper-button on-tap="saveBuilding">Save</paper-button>
              <paper-menu on-iron-select="selectFloor" selected="{{floorIndex}}">
                <template is="dom-repeat" items="{{selected.floors}}">
                  <paper-item>{{item.floor}}</paper-item>
                </template>
              </paper-menu>
              <template is="dom-if" if="[[room]]">
                <div class="room">
                  <h2>Room Properties</h2>
                  <paper-input label="Id" value="{{room.id}}"></paper-input>
                  <paper-input label="Name" value="{{room.name}}"></paper-input>
                  <label>Room Type</label>
                  <select on-change="setRoomType" value="[[room.type]]">
                    <option value="">default</option>
                    <option value="printer">printer</option>
                    <option value="restroom">restroom</option>
                    <option value="food">food</option>
                    <option value="bookable">bookable</option>
                  </select>
                  <paper-button on-tap="deleteRoom">delete</paper-button>
                </div>
              </template>
            </div>
            <div main id="floor">
              <template is="dom-if" if="[[floor.floor]]">
                <paper-button on-tap="deleteFloor">delete</paper-button>
                <paper-button on-tap="ocrFloor">OCR</paper-button>
                <paper-input label="Floor Name" value="{{floor.floor}}"></paper-input>
                <paper-input label="Image URL" value="{{floor.image}}"></paper-input>
                <paper-input type="number" label="Rotation (Radians)" value="[[floor.rotation]]" on-change="floorRotation"></paper-input>
                <paper-input label="Coordinates (JSON)" value="[[stringify(floor.coords)]]" on-change="floorCoords"></paper-input>
                <div id="map">
                  <img on-tap="insertMarker" src="[[floor.image]]">
                  <template is="dom-repeat" items="{{floor.rooms}}">
                    <div class="marker" on-tap="markerDetails" style$="[[markerPos(floor, item)]]"></div>
                  </template>
                </div>
              </template>
            </div>
          </paper-drawer-panel>
        </div>
      </paper-header-panel>
    </paper-drawer-panel>
    <iron-ajax
         auto
         url="/api/dump/"
         handle-as="json"
         last-response="{{buildings}}"
         debounce-duration="300"></iron-ajax>
    <iron-ajax id="save"
         url="/api/save_building/"
         handle-as="json"
         body="{{selected}}"
         content-type="application/json"
         method="POST"
         debounce-duration="300"></iron-ajax>
    <iron-ajax id="ocr"
         url="/api/ocr/"
         handle-as="json"
         body="{{floor}}"
         content-type="application/json"
         method="POST"
         on-response="ocrResp"
         debounce-duration="300"></iron-ajax>
  </template>

  <script>
Polymer({
  is: "edit-map",
  properties: {
    buildings: {
      type: Array,
      value: null,
    },
    floor: {
      type: Object,
      value: null,
    },
    selected: {
      type: Object,
      value: null,
    },
  },
  len: function(a) {
    if (a && a.length > 0) {
      return a.length;
    }
  },
  select: function(e) {
    this.selected = this.buildings[this.selectedIndex];
    this.floor = {coords:{}, image:''};
    this.floorIndex = -1;
    this.room = null;
  },
  selectFloor: function(e) {
    this.floor = this.selected.floors[this.floorIndex];
    this.room = null;
  },
  newFloor: function() {
    if (!this.selected) {
      return;
    }
    var pos = this.selected.position;
    var floor = {
      floor: 'Unnamed',
      image: '',
      rooms: [],
      rotation: 0,
      coords: {
        north: pos.H + 0.001/2,
        south: pos.H - 0.001/2,
        east: pos.L + 0.001,
        west: pos.L - 0.001,
      }
    };
    if (!this.selected.floors) {
      this.set('selected.floors', [floor]);
    } else {
      this.push('selected.floors', floor);
    }
    this.saveBuilding();
  },
  floorRotation: function(e) {
    this.set('floor.rotation', parseFloat(e.target.value));
  },
  floorCoords: function(e) {
    this.set('floor.coords', JSON.parse(e.target.value));
    this.recomputeRoomPositions(this.floor.rooms);
  },
  saveBuilding: function() {
    this.$.save.generateRequest();
  },
  deleteFloor: function(e) {
    if(!confirm('You want to delete yeah?')) {
      return;
    }
    var index = this.selected.floors.indexOf(e.model.floor);
    if (index > -1) {
      this.splice('selected.floors', index, 1);
    }
    this.floor = null;
    this.saveBuilding();
  },
  deleteRoom: function(e) {
    if(!confirm('You want to delete yeah?')) {
      return;
    }
    var index = this.floor.rooms.indexOf(this.room);
    if (index > -1) {
      this.splice('floor.rooms', index, 1);
    }
    this.room = null;
    this.saveBuilding();
  },
  ocrFloor: function(e) {
    this.$.ocr.generateRequest();
  },
  ocrResponse: function(a,b,c) {
    debugger;
  },
  markerPos: function(floor, item) {
    var top, left;
    if (item.rel_position) {
      top = item.rel_position.H;
      left = item.rel_position.L;
    } else {
      top = (floor.coords.north - item.position.H)/(floor.coords.north - floor.coords.south);
      left = (1-(floor.coords.east - item.position.L)/(floor.coords.east - floor.coords.west));
    }
    return 'left: '+(left*100).toFixed(1)+'%; top: '+(top*100).toFixed(1)+'%;';
  },
  markerDetails: function(e) {
    this.room = e.model.item;
  },
  setRoomType: function(e) {
    this.room.type = e.target.value;
  },
  stringify: function(a) {
    return JSON.stringify(a);
  },
  insertMarker: function(e) {
    var bounding = e.target.getBoundingClientRect();
    var x = e.detail.x - bounding.left;
    var y = e.detail.y - bounding.top;
    var px = x/(bounding.right - bounding.left);
    var py = y/(bounding.bottom - bounding.top);
    var id = prompt("enter room number");
    if (!id) {
      console.log('must have a room id');
      return;
    }
    var room = {
      id: id,
      sis: this.selected.sis,
      name: '',
      type: '',
      floor: this.floor.floor,
      rel_position: {
        H: py,
        L: px,
      },
    };
    if (!this.floor.rooms) {
      this.set('floor.rooms', [room]);
    } else {
      this.push('floor.rooms', room);
    }
    this.room = room;
  },
  recomputeRoomPositions: function(rooms) {
    var self = this;
    rooms.forEach(function(room) {
      self.computeRoomPosition(room);
    });
  },
  computeRoomPosition: function(room) {
    if (!room.rel_position) {
      return;
    }
    var px = room.rel_position.L;
    var py = room.rel_position.H;
    var lat = (1-py)*(this.floor.coords.north - this.floor.coords.south) + this.floor.coords.south;
    var lng = px*(this.floor.coords.east - this.floor.coords.west) + this.floor.coords.west;
    room.position = {
      H: lat,
      L: lng,
    };
  },
});
  </script>
</dom-module>
