<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="main-app">
  <template>
    <style>
:host {
  @apply(--paper-font-body1);
  padding: 0;
  margin: 0;
}
#map {
  width: 100vw;
  height: 100vh;
}
search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  max-width: 100%;
  z-index: 1;
}
floor-box {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 600px) {
  floor-box {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
  }
  floor-box /deep/ .card-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}
    </style>
    <div id="map"></div>
    <search-box selected="{{selected}}"></search-box>
    <floor-box floors="[[view.Floors]]" floor="{{floor}}"></floor-box>
    <iron-ajax
         auto
         url="[[viewURL(bounds, floor)]]"
         handle-as="json"
         last-response="{{view}}"
         debounce-duration="300"></iron-ajax>

    <iron-ajax
         auto
         url="[[selectedURL(selected)]]"
         handle-as="json"
         last-response="{{selectedDetail}}"
         debounce-duration="300"></iron-ajax>
  </template>

  <script>
Polymer({
  is: "main-app",
  properties: {
    floor: {
      type: String,
    },
    markers: {
      type: Array,
      value: function(){return [];},
    },
    icons: {
      type: Object,
      value: {
        default: '/img/dot-red-transparent.png',
        solid: '/img/dot-red.png',
        food: '/img/icons/restaurant.png',
        restroom: '/img/icons/toilets.png',
        printer: '/img/icons/printer-2.png',
      },
    },
    selectedDetail: {
      type: Object,
      value: null,
    },
    view: {
      type: Object,
    }
  },
  observers: [
    'refreshTiles(floor)',
    'updateMarkers(view, selectedDetail)',
    'updateHash(selected)',
    'focusSelected(selectedDetail)',
  ],
  updateHash: function(selected) {
    window.location.hash = selected.replace(/ /g, '+');
  },
  attached: function() {
    var self = this;
    this.selected = window.location.hash.substr(1).replace(/\+/g, ' ');
    this.map = new google.maps.Map(this.$.map, {
      center: {
        lat: 49.2606052,
        lng: -123.2459939
      },
      mapTypeControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 15
    });
    var imageMapType = new google.maps.ImageMapType({
      getTileUrl: function(coord, zoom) {
        return ['/tiles/', zoom, '_', coord.x, '_', coord.y, '_', self.floor, '.png'].join('');
      },
      tileSize: new google.maps.Size(256, 256)
    });

    this.map.overlayMapTypes.push(imageMapType);
    this.map.addListener('bounds_changed', function() {
      self.bounds = self.map.getBounds();
    });
    self.floor = '1';
  },
  refreshTiles: function() {
    var zoom = this.map.getZoom();
    this.map.setZoom(zoom+1);
    this.map.setZoom(zoom);
    this.clearMarkers();
  },
  viewURL: function(bounds, floor) {
    var point = {
      north: bounds.getNorthEast().lat(),
      east: bounds.getNorthEast().lng(),
      south: bounds.getSouthWest().lat(),
      west: bounds.getSouthWest().lng(),
      zoom: this.map.getZoom(),
      floor: floor,
    };
    return '/view/'+JSON.stringify(point);
  },
  clearMarkers: function() {
    this.markers.forEach(function(marker) {
      marker.setMap(null);
    });
    this.markers = [];
  },
  updateMarkers: function(view, selectedDetail) {
    var rooms = view.Rooms;
    var self = this;
    this.clearMarkers();
    var id = '';
    if (selectedDetail) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(selectedDetail.position.H, selectedDetail.position.L),
        title: this.id,
      });
      marker.setMap(self.map);
      self.markers.push(marker);
      id = ((selectedDetail.sis||'')+' '+(selectedDetail.id||'')).trim();
    }
    if (rooms) {
      rooms.forEach(function(room) {
        var icon = self.icons[room.type];
        if (!icon) {
          icon = self.icons.default;
        }
        var code = room.sis + ' ' + room.id;
        if (selectedDetail && id === code) {
          return;
        }
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(room.position.H, room.position.L),
          title: code,
          icon: icon,
        });
        marker.setMap(self.map);
        marker.addListener('click', function() {
          self.selected = code;
        });
        self.markers.push(marker);
      });
    }
    if (view.Buildings) {
      view.Buildings.forEach(function(building) {
        if (selectedDetail && id === building.sis) {
          return;
        }
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(building.position.H, building.position.L),
          title: building.name,
          icon: self.icons.solid,
        });
        marker.setMap(self.map);
        marker.addListener('click', function() {
          self.selected = building.sis;
        });
        self.markers.push(marker);
      });
    }
  },
  focusSelected: function(selectedDetail) {
    if (!selectedDetail) {
      return;
    }
    if (selectedDetail.floor) {
      this.floor = selectedDetail.floor;
      if (this.map.getZoom() < 20) {
        this.map.setZoom(20);
      }
    } else {
      if (this.map.getZoom() < 18) {
        this.map.setZoom(18);
      }
    }
    var selected = new google.maps.LatLng(selectedDetail.position.H, selectedDetail.position.L);
    this.map.panTo(selected);
  },
  selectedURL: function(selected) {
    if (!selected) {
      return;
    }
    return '/item/'+selected;
  },
});
  </script>
</dom-module>
