<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-search/paper-search-bar.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">

<link rel="import" href="./bookable-item.html">
<link rel="import" href="./building-item.html">
<link rel="import" href="./food-item.html">
<link rel="import" href="./minimizable-box.html">

<dom-module id="search-box">
  <template>
    <style>
:host {
  box-sizing: border-box;
  padding: 16px;
  overflow: hidden;
}
paper-card {
  width: 100%;
  --paper-card-content: {
    padding: 0;
  }
}
.search {
  @apply(--shadow-elevation-2dp);
}
paper-radio-group {
  width: 100%;
  text-align: center;
}
paper-item {
  cursor: pointer;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
paper-item > div {
  width: 100%;
  padding: 8px 0;
}
paper-item label {
  float: right;
}
paper-item >div > span {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.results {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}
    .name {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
    </style>
    <paper-card >
      <div class="card-content">
        <div class="search">
          <paper-search-bar placeholder="Enter search term" query="{{query}}" on-paper-search-filter="filter"></paper-search-bar>
          <template is="dom-if" if="[[showFilters]]">
            <paper-radio-group selected="{{typeFilter}}">
              <paper-radio-button name="all">All</paper-radio-button>
              <paper-radio-button name="printer">Printers</paper-radio-button>
              <paper-radio-button name="restroom">Restrooms</paper-radio-button>
              <paper-radio-button name="food">Food</paper-radio-button>
              <paper-radio-button name="bookable">Bookable</paper-radio-button>
            </paper-radio-group>
          </template>
        </div>
        <div class="results">
          <template is="dom-repeat" items="[[result]]">
            <paper-item on-tap="select">
              <div>
                <span class="name">
                  <span>[[item.Id]]</span>&nbsp;<span>[[item.Name]]</span>
                </span>

                <template is="dom-if" if="[[eq(item.Type, 'restroom')]]">
                  <label>Restroom</label>
                </template>
                <template is="dom-if" if="[[eq(item.Type, 'printer')]]">
                  <label>Printer</label>
                </template>

                <template is="dom-if" if="[[eq(item.Type, 'bookable')]]">
                  <bookable-item item="{{item}}"></bookable-item>
                </template>
                <template is="dom-if" if="[[eq(item.Type, 'building')]]">
                  <label>Building</label>
                  <building-item item="{{item}}"></building-item>
                </template>
                <template is="dom-if" if="[[eq(item.Type, 'food')]]">
                  <label>Food</label>
                  <minimizable-box>
                    <food-item item="{{item}}"></food-item>
                  </minimizable-box>
                </template>
              </div>
            </paper-item>
          </template>
        </div>
      </div>
    </paper-card>

    <iron-ajax
         auto
         url="[[searchURL(query, typeFilter)]]"
         handle-as="json"
         last-response="{{result}}"
         debounce-duration="300"></iron-ajax>
  </template>
  <script>
Polymer({
  is: "search-box",
  properties: {
    selected: {
      type: String,
      notify: true,
    },
    typeFilter: {
      type: String,
      value: 'all',
    },
  },
  observers: [
    'updateQuery(selected)',
  ],
  updateQuery: function(selected) {
    this.query = selected;
  },
  searchURL: function(query, type) {
    if (!query && type === 'all') {
      return;
    }
    return '/search/?type='+type+'&q='+encodeURIComponent(query);
  },
  select: function(e) {
    var item = e.model.item;
    this.selected = item.Id;
  },
  filter: function() {
    this.showFilters = !this.showFilters;
  },
  eq: function(a, b) {
    return a == b;
  },
});
  </script>
</dom-module>
